.card {
    color: @gray;
    h5 {
        font-family: "Baloo 2", cursive;  
        transition: ease-in-out .15s;
        &:hover {
            color: red;
            cursor: pointer;
            ion-icon {
                padding-left: 1rem;
            }
        }
    }

    ion-icon {
        color: red;
        margin-bottom: -.235rem;
        padding-left: .5rem;
        transition: ease-in-out .15s;
    }
}