.carousel-inner {
    height: @carousel-height;
    margin-bottom: 2vh;
}

.carousel-inner img {
    object-fit: cover;
    height: @carousel-height;
}

.carousel-item {
    height: @carousel-height;
}
