#about-carousel {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .carousel-control-prev {
    margin-left: -10%;
  }
  
  .carousel-control-next {
    margin-right: -10%;
  }

  .carousel-icon {
      color: @gray;
      font-size: 1.5rem;
  }