
.col img {
    width: 100%;
    object-fit: cover;
}

.mobile-margin {
    @media @tablet {
        margin-bottom: 24px;
    }
}




.image-text {
    position: absolute;
    transform: translateY(-65px);
    margin-left: 20px;
    h3 {
        .hero-font(1.5rem, 600, white);
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            ion-icon {
                padding-left: 1rem;
            }
        }
    }
    ion-icon {
        color: white;
        margin-bottom: -.235rem;
        padding-left: .5rem;
        transition: ease-in-out .15s;
    }
}

.grid-text-medium {
    .grid-text();
    left: 5%;
    bottom: 10%;
}

.grid-text-small {
    .grid-text();
    left: 5%;
    bottom: 5%;
}

.grid-text-large {
    .grid-text();
    left: 5%;
    bottom: 2%;

}

.grid-item-container {
    position: relative;
    text-align: center;
    color: white;
}

.mobile-position {
    @media @tablet {
        bottom: 10%;
    }
}

.mobile-position-large {
    @media @tablet {
        bottom: 6%;
    }
}