.col {
    border: .5px solid @gray;
}

.col img {
    width: 100%;
    object-fit: cover;
}

// .row {
// }

.arrival-grid {
    border: solid red;
}

.col-sm-12, .col-md-6 {
    border: .5px solid @gray;
}