
.col img {
    width: 100%;
    object-fit: cover;
}

.mobile-margin {
    @media @tablet {
        margin-bottom: 24px;
    }
}

.image-text {
    position: absolute;
    transform: translateY(-65px);
    margin-left: 20px;
    h3 {
        .hero-font(1.5rem, 600, white);
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            ion-icon {
                padding-left: 1rem;
            }
        }
    }
    ion-icon {
        color: white;
        margin-bottom: -.235rem;
        padding-left: .5rem;
        transition: ease-in-out .15s;
    }
}

.grid-text {
    color: white;
    position: absolute;
    left: 5%;
    bottom: 10%;
    text-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);;
}

.grid-text-small {
    color: white;
    position: absolute;
    left: 5%;
    bottom: 5%;
    text-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);;
}

.grid-text-large {
    color: white;
    position: absolute;
    left: 5%;
    bottom: 2%;
    text-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);;
}

.grid-item-container {
    position: relative;
    text-align: center;
    color: white;
}