.grid-img-md {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.grid-img-sm {
    object-fit: cover;
    height: 300px;
    width: 100%;
    @media @tablet {
        height: 400px;
    }
}

.about-hero {
    background-image: url("../assets/images/carousel/carousel01.jpeg");
    .background-img();
    max-height: 40vh;
    color: white;
}