.grid-img-md {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.grid-img-sm {
    object-fit: cover;
    height: 300px;
    width: 100%;

    @media @tablet {
        height: 400px;
        padding-bottom: 4px;
    }
}

.about-hero {
    background-image: url("../assets/images/about_us.jpeg");
    .hero-img();
}

.contact-hero {
    background-image: url("../assets/images/contact.jpeg");
    .hero-img();
}

.card-slider {
    max-height: 250px;
}
