.grid-img-md {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.grid-img-sm {
    object-fit: cover;
    height: 300px;
    width: 100%;
    @media @tablet {
        height: 400px;
    }
}