.jumbotron-fluid {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 5rem;
    }
}

.slide1 {
    background-image: url("../assets/images/carousel/carousel1.jpeg");
    .background-img();
}
.slide2 {
    background-image: url("../assets/images/carousel/carousel1.jpeg");
    .background-img();
}
.slide3 {
    background-image: url("../assets/images/carousel/carousel1.jpeg");
    .background-img();
}