.background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-font(@size; @weight: 600; @color) {
  text-transform: uppercase;
  font-family: "Baloo 2", cursive;
  font-size: @size;
  font-weight: @weight;
  color: @color;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-text {
  color: white;
  position: absolute;
  text-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  transition: ease-in-out .2s;
  &:hover {
      cursor: pointer;
      color:@red;
  }
}

.hero-img {
  .background-img();
  max-height: 40vh;
  color: white; 
}